.navbar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 20px;
  line-height: 50px;
  margin-top: 0;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
